@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script src="~/Script/Index.js"></script>
<!------ Include the above in your HEAD tag ---------->
@* <link href="~/css/Auth.css" rel="stylesheet" /> *@
<div class="wrapper" ng-controller="IndexCtrl">
    <div class="card" style="width: 100%;">
        <div class="card-header">
            Meeting Minutes
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" value="" name="optradio">Corporate
                        </label>
                        <label class="form-check-label" style="margin-left:50px;">
                            <input type="radio" class="form-check-input" value="" name="optradio">Individual
                        </label>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="CustomerName" class="col-md-4 col-form-label">
                                Customer Name
                                <span style="color:red">*</span>
                            </label>
                            <div class="col-md-8">
                                <select class="form-control">
                                    <option>Default select</option>
                                </select>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Date" class="col-md-4 col-form-label">
                                Date
                            </label>
                            <div class="col-md-8 row">
                                <div class="col-md-6">
                                    <input type="date" class="form-control" id="Date" placeholder="Customer name">
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="Time" class="col-md-4 col-form-label">
                                            Time
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="Time" placeholder="9 AM">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="MeetingPlace" class="col-md-4 col-form-label">
                                Meeting Place
                                <span style="color:red">*</span>
                            </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="MeetingPlace" placeholder="Customer name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="AttendsFromClientSide" class="col-md-4 col-form-label">
                                Attends From Client Side
                                <span style="color:red">*</span>
                            </label>
                            <div class="col-md-8">
                                <textarea class="form-control" id="AttendsFromClientSide" rows="2" placeholder="Present client side"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="AttendsFromHostSide" class="col-md-4 col-form-label">
                                Attends From Host Side
                                <span style="color:red">*</span>
                            </label>
                            <div class="col-md-8">
                                <textarea class="form-control" id="AttendsFromHostSide" rows="2" placeholder="Present self side"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="MeetingAgenda" class="col-md-4 col-form-label">
                                Meeting Agenda
                                <span style="color:red">*</span>
                            </label>
                            <div class="col-md-8">
                                <textarea class="form-control" id="MeetingAgenda" rows="2" placeholder="Meeting agenda"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="MeetingDiscussion" class="col-md-4 col-form-label">
                                Meeting Discussion
                                <span style="color:red">*</span>
                            </label>
                            <div class="col-md-8">
                                <textarea class="form-control" id="MeetingDiscussion" rows="2" placeholder="Meeting discussion"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="MeetingDecision" class="col-md-4 col-form-label">
                                Meeting Decision
                                <span style="color:red">*</span>
                            </label>
                            <div class="col-md-8">
                                <textarea class="form-control" id="MeetingDecision" rows="2" placeholder="Meeting decision"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="card mt-2" style="width: 100%;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group row">
                            <label for="InterestedProduct" class="col-md-4 col-form-label">
                                Interested Product/Service
                            </label>
                            <div class="col-md-8">
                                <select class="form-control">
                                    <option>Default select</option>
                                </select>

                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Quantity" class="col-md-4 col-form-label">
                                Quantity
                            </label>
                            <div class="col-md-8 row">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="Quantity">
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="Unit" class="col-md-4 col-form-label">
                                            Unit
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="Unit" readonly>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-md-4 col-form-label">
                                <button style="padding:2px 20px;">
                                    <i class="fa-solid fa-plus" style="border: 1px solid black;"></i>
                                    Add
                                </button>
                            </label>
                            <div class="col-md-8">
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="card mt-2" style="width: 100%;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">SL#</th>
                            <th scope="col">Interested Product/Service</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <td colspan="6">No matching records found</td>
                        </tr>
                        <tr hidden>
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                            <td>mdo</td>
                            <td>mdo</td>
                        </tr>
                    </tbody>
                </table>
            </li>
        </ul>
    </div>

    <div class="Buttons mt-5">
        <button>
            <i class="fa-regular fa-floppy-disk"></i>
            Save
            </button>
        <button>
            <i class="fa-solid fa-arrows-rotate"></i>
            Refresh
        </button>
    </div>
</div>
