@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script src="~/Script/Index.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="~/css/Auth.css" rel="stylesheet" />
<div class="wrapper" ng-controller="IndexCtrl">
    <div class="card" style="width: 100%;">
        <div class="card-header">
            Meeting Minutes
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
    </div>
</div>
